# Ignorowanie folderu z wynikami kompilacji
/build/
/debug/
/milk_taxi_esp32/build/
build/
milk_taxi_esp32/build/


# Ignorowanie plików logów
*.log

# Ignorowanie plików tymczasowych i backupów
*~
*.swp
*.bak
*.tmp